.list {
  display: flex;
  justify-content: start;
  gap: 16px;
  flex-wrap: wrap;
  align-content: stretch;
}

.wrapper {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 20px 0;
}
